.root {
    -fx-padding: 10;
    -fx-background-color: lightblue; 
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#applicationtitle {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

HBox {
    -fx-spacing: 8;
}

VBox {
    -fx-spacing: 10;
}

GridPane {
    -fx-hgap: 8;
    -fx-vgap: 10;
}
